//=======================
//         noty
//=======================
.animated{
  height: auto !important;
  background-color: white !important;
  border: none !important;
}
.animated .noty_title{
  font-weight: bold;
  font-size: 16px;
  padding: 8px;
}
.animated .noty_type_info {
  border: solid 1px rgb(79, 149, 216);
  color: rgb(0, 148, 255);
}
.animated .noty_type_info .noty_title {
  color: rgba(0, 110, 255, 0.8);
}
.animated .noty_type_error {
  color: rgb(200, 100, 100) !important;
  border: solid 1px darkred;
}
.animated .noty_type_success {
  color: rgb(114, 187, 114) !important;
  border: solid 1px rgb(0, 139, 23);
}
.animated .noty_title i{
  margin-right: 8px;
}
.animated .noty_type_error .noty_title{
  color: darkred;
}
.animated .noty_type_success .noty_title{
  color: rgb(65, 147, 65);
}
.animated .noty_content{
  padding-left: 24px;
}

//=======================
//       utility
//=======================
.form-danger {
  border: solid 2px rgb(237, 59, 59);
}
.table{
  display: table;
  width: 100%;
  margin-bottom: 0px;
  height: 100%;
}
.table-cell{
  display: table-cell;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
.center{
  display: block;
  margin: 0 auto;
}
.smoke{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  left: 0px;
  top: 0px;
}
.hidden_panel_r{
  -webkit-transform:translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.hidden_panel_l{
  -webkit-transform:translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
//=======================
//       基本設定
//=======================
body, html{
  height: 100%;
  width: 100%;
}
body, html{
  background-color: white;
  margin: 0;
}
.list-group .list-group-item:hover{
  background-color: #eee;
}
.list-group a{
  color: #555;
  text-decoration: none;
}
section#app{
  display: none;
}
section#loading{
  height: 100%;
  img{
    width: 96px;
  }
}
section#panel{
  height: 100%;
  position: relative;
}
#basicUser, #adminUser {
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  top: 42px;
}
#adminUser{
  -webkit-transition: -webkit-transform 0.5s ease-out;
  -moz-transition: -moz-transform 0.5s ease-out;
  -ms-transition: -ms-transform 0.5s ease-out;
  -o-transition: -o-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}

#adminUser {
  z-index: 10;
}
#basicUser {
    z-index: 5;
}
.clear{
  clear: both;
}

//=======================
//     settingModal
//=======================
#settingModal{
  color: whitesmoke;
  -webkit-font-smoothing: antialiased;
  .modal-dialog{
    margin: 80px auto;
  }
  .modal-header{
    background-image: -webkit-linear-gradient(top, #262B34 0%, #262B34 100%);
    background-image: -o-linear-gradient(top, #262B34 0%, #262B34 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#262B34), to(#262B34));
    background-image: linear-gradient(to bottom, #262B34 0%, #262B34 100%);
    background-color: #262B34;
    border-bottom-color: #888;
    button span{
      color: white;
    }
  }
  .modal-body{
    background-color: #39414D;
    padding: 0px;
    ul{
      border-bottom-color: #888;
      margin-top: -1px;
      li:first-child a{
        margin-left: 10px;
      }
      li:last-child a{
        margin-left: 10px;
      }
      li{
        &.active a{
          border-radius: 0px;
          border-color: #888;
          color: white;
          background-color: transparent;
        }
        &:hover a{
          border-radius: 0px;
          border-color: #888;
          color: white;
          background-color: transparent;
        }
        a{
          color: #888;
        }
      }
    }
    .tab-pane{
      padding: 16px;
      h1{
        letter-spacing: normal;
        font-family: inherit;
        padding: 8px 0px;
        font-size: 32px;
        margin: 0;
        text-align: left;
      }
      ul{
        border: solid 1px #888;
        padding: 8px 24px;
        margin-top: 16px;
        background-color: rgba(0,0,0,0.2);
      }
      .btn.btn-success{
        border-radius: 0px;
      }
    }
    #settingDisclosure{
      .col-xs-6{
        margin: 4px 0px;
      }
      .col-xs-6{
        p{
          padding: 6px;
          background-color: rgb(38, 43, 52);
          margin: 0px;
        }
        .btn{
          border: solid 1px rgb(38, 43, 52);
          border: solid 1px #262b34;
          border-radius: 0px;
          color: #888;
          &:hover, &.active{
            color: white;
          }
        }
      }
    }
  }
}
//=======================
//         app
//=======================
#app{
  width: 100%;
  height: 100%;
}

//=======================
//         main
//=======================

section#main{
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0px 0px 64px rgba(0,0,0,0.4);
  overflow: hidden;
}

//=======================
//        header
//=======================

section#header{
  width: 100%;
  position: absolute;
  background-image: -webkit-linear-gradient(top,  #262B34 0%,   #262B34 100%);
  background-image:      -o-linear-gradient(top,  #262B34 0%,   #262B34 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from( #262B34), to(  #262B34));
  background-image:         linear-gradient(to bottom,  #262B34 0%,   #262B34 100%);
  background-color:  #262B34;
  z-index: 50;
  h1{
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 24px;
    padding: 8px;
    letter-spacing: 8px;
    color: whitesmoke;
    font-weight: normal;
    font-family: sans-serif;
  }
  .dropdown{
    display: inline-block;
    color: whitesmoke;
    position: absolute;
    z-index: 5;
    top: 0px;
    right: 0px;
  }
  .dropdown #account{
    cursor: pointer;
    padding: 10px 24px;
  }
  .dropdown .dropdown-menu{
    margin: 0px;
  }
  .dropdown.open .dropdown-menu{
    height: 200px;
  }
  .dropdown .dropdown-menu .divider{
    border-top: 1px solid #A1A5B2;
    border-bottom: 1px solid #152545;
    height: 0px;
    margin: 0px;
  }
  .dropdown .dropdown-menu{
    -webkit-transition: .2s ease-in-out height;
         -o-transition: .2s ease-in-out height;
            transition: .2s ease-in-out height;
    right: 0px;
    left: auto;
    background-color:  #262B34;
    border-radius: 0px;
    display: block;
    height: 0px;
    overflow: hidden;
    padding: 0px;
    border: none;
  }
  .dropdown .dropdown-menu li.menu{
    padding: 6px 8px;
    font-size: 10px;
    color: rgb(174, 197, 216)
  }
  .dropdown .dropdown-menu li.item{
    font-size: 12px;
    padding: 4px 16px;
    cursor: pointer;
  }
  .dropdown .dropdown-menu li.item:hover{
    background-color: rgb(67, 81, 98);
  }
}

//==============================================
//                サイドバー
//==============================================
.sidebar{
  overflow: scroll;
  position: absolute;
  width: 220px;
  display: inline-block;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding: 16px 0px;
  background-color: #39414D;
  z-index: 40;
  .tablist{
    border-bottom: solid 1px #B7C5D0;
  }
  ul li{
    width: 100%;
    margin: 0px;
  }
  ul li.divider{
    border-top: none;
  }
  ul li.divider h1{
    font-size: 12px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #FFFFFF;
    background-color: #31343E;
    margin: 0;
  }
  ul li a{
    border: none;
    border-radius: 0px;
    color: #9BA7AB;
    margin: 0px;
  }
  ul li a:hover{
    background-color: #525D71;
    color: white;
  }
  ul li a .glyphicon{
    font-size: 24px;
    vertical-align: top;
    display: inline-block;
  }
  ul li a .circleIcon{
    font-size: 18px;
    width: 24px;
    font-weight: bold;
    padding: 1px;
    display: inline-block;
    border-radius: 1px;
    text-align: center;
  }
  ul li a .title{
    vertical-align: top;
    font-size: 12px;
    display: inline-block;
    padding: 2px 8px;
  }
  ul li.active a{
    border: none !important;
    margin: 0px;
    border-radius: 0px;
    background-color: white;
    border-color: white;
    right: 0px;
  }
  ul li a:hover{
    border: none;
    margin: 0;
  }
  ul li.active a:hover{
    margin-top: 0px;
    border: none;
    border-radius: 0px;
  }
}


//==============================================
//           一般ユーザー > コンテンツ
//==============================================
#userContent, #adminContent{
  top: 0px;
  background-color: white;
  display: inline-block;
  position: absolute;
  left: 220px;
  right: 0px;
  bottom: 0px;
  padding: 24px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 30;
}

#adminContent{
  right: 40px;
}

//=======================
//   section content
//=======================
.content{
  overflow: scroll;
  top: 0px;
  background-color: white;
  display: inline-block;
  position: absolute;
  left: 220px;
  right: 0px;
  bottom: 0px;
  padding: 24px;
  z-index: 30;
}

.content h1{
  color: rgb(85, 85, 90);
  margin: 0;
  font-size: 24px;
  letter-spacing: 1.4px;
}
//=======================
//       circles
//=======================
#circleList{
  table{
    width: 100%;
    margin-top: 40px;
  }

  table thead{
    border-bottom: solid 3px #ccc;
  }
  table thead tr th{
    border-right: 1px solid #ccc;
    padding-left: 8px;
    font-weight: normal;
    font-size: 13px;
  }
  table thead tr th.name_w{
    width: 40%;
  }
  table thead tr th.number_w{
    width: 10%;
  }
  table thead tr th.university_w{
    width: 20%;
  }
  table thead tr th.update_w{
    width: 30%;
  }
  table thead tr th.author_w{
    width: 10%;
  }
  table tbody{
    font-size: 12px;
  }
  table tbody tr{
    border-bottom: solid 1px white;
  }
  table tbody tr td{
    padding: 8px;
    position: relative;
  }
  table tbody tr.self .name{
    background-color: rgb(22, 160, 133);
    color: white;
  }
  table tbody tr .name{
    font-weight: bold;
    letter-spacing: 1px;
    background-color: rgba(87, 214, 141, 0.45);
  }
  table tbody tr:hover .name{
    background-color: rgb(87, 214, 141);
    color: white;
  }
  table tbody tr:hover .update,table tbody tr:hover .number,table tbody tr:hover .author, table tbody tr:hover .university{
    background-color: rgba(87, 214, 141, 0.45);
  }
  table tbody tr.self .name:hover{
    opacity: 0.8;
  }
  table tbody tr.self .update,table tbody tr.self .number,table tbody tr.self .author, table tbody tr.self .university{
    background-color: rgb(26, 188, 156);
    color: white;
  }

  table tbody:before{
    content: "";
    margin-top: 16px;
    display: block;
    width: 100%;
    background-color: transparent;
  }
  table tr i{
    position: absolute;
    right: 10px;
    font-size: 18px;
    padding: 7px 0px;
    display: none;
    color: white;
  }
  table tr .update i{
    color: rgb(15, 150, 27);
    cursor: pointer;
    vertical-align: top;
    height: auto;
    padding: 0;
    display: none;
  }
  table tr:hover .update i{
    display: inline-block;
  }
  table tr.self i{
    color: white;
    display: block;
  }
  table tr:hover i{
    display: block;
  }
}
//=======================
//      new_circle
//=======================
#adminNewCircle{
  h1{
    margin-bottom: 32px;
  }
  .label{
    font-size: 14px;
    font-weight: normal;
    background-color: rgba(35, 129, 58, 0.67);
    padding: 6px 8px;
    cursor: pointer;
    vertical-align: top;
    margin: 0px 23px;
    display: inline-block;
    font-weight: normal;
    cursor: pointer;
  }
  label{
    color: #555;
    margin-top: 12px;
    padding: 0px 2px;
  }
  .checkbox label{
    margin-left: 20px;
  }
  select{
    margin-bottom: 18px;
  }
  .form-wrap{
    height: 0px;
    overflow: hidden;
    -webkit-transition: height 0.2s ease-out;
    -moz-transition: height 0.2s ease-out;
    -ms-transition: height 0.2s ease-out;
    -o-transition: height 0.2s ease-out;
    transition: height 0.2s ease-out;
  }
  .form-wrap.open{
    height: 34px;
  }
  button{
    width: 82px;
    img{
      margin: 0 auto;
      height: 18px;
    }
  }
}
//=======================
//     profile
//=======================
#profile.fade.active.in .profilebar{
  left: 0px;
}
#profile{
  .profilebar{
    overflow: scroll;
    -webkit-transition: left 0.3s ease-out;
    -moz-transition: left 0.3s ease-out;
    -ms-transition: left 0.3s ease-out;
    -o-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out;
    position: absolute;
    left: -240px;
    background-color: white;
    top: 0px;
    bottom: 0px;
    width: 240px;
    border-right: 1px solid #ddd;
    z-index: 2;
    box-shadow: 1px 1px 4px #555;
    .profile_name{
      border-bottom: 1px solid #ddd;
      font-size: 16px;
      padding: 8px;
      i{
        margin-right: 8px;
        -webkit-transform:rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
    img{
      width: 80%;
      margin: 15px auto;
      display: block;
    }
    hr.style-line {
      margin: 16px 32px;
      padding: 0;
      border: none;
      border-top: medium double #555;
      text-align: center;
      color: #555
    }
    hr.style-line:after{
      display: inline-block;
      position: relative;
      top: -0.7em;
      font-size: 14px;
      padding: 0 0.25em;
      background: white;
      letter-spacing: 6px;
    }
    hr.style-line.profile:after{
      content: "PROFILE";
    }
    hr.style-line.activity:after {
      content: "ACTIVITY";
    }
    .panel{
      margin: 0px;
      padding: 0px;
      border: none;
      .panel-heading{
        border-radius: 0px;
        border-bottom: 2px solid #B5B5B5;
        color: #555;
        background: white;
        i{
          margin-right: 8px;
          color: #555;
          -webkit-transition: -webkit-transform 0.3s ease-out;
          -moz-transition: -moz-transform 0.3s ease-out;
          -ms-transition: -ms-transform 0.3s ease-out;
          -o-transition: -o-transform 0.3s ease-out;
            transition: transform 0.3s ease-out;
        }
      }
      .list-group{
        border: none;
      }
    }
    a[aria-expanded="true"]{
      i{
        -webkit-transform:rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }
  .panels{
    background-color: #e5e5e5;
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 0px;
    z-index: 1;
    padding-left: 240px;
    left: 0px;
    right: 0px;
  }
  .panelcontent{
    position: absolute;
    right: 0px;
    padding-left: 240px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgb(55, 65, 75)
  }
}
//=======================
//      Achivement
//=======================
#allUserAchivement{
  overflow-x: hidden;
  overflow-y: scroll;
  .title{
    color: white;
    font-size: 24px;
    border-bottom: 2px solid #888;
    -webkit-font-smoothing: antialiased;
    padding: 4px 0px;
  }
  .achive_badge{
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 25%;
    padding: 0px 15px;
    border-right: solid 2px #888;
    border-bottom: solid 2px #888;
    min-height: 216px;
    cursor: pointer;
    &:hover .image-wrap{
      margin-top: -4px;
    }
    &:nth-of-type(4n+2){
      border-right: none;
    }
    .image-wrap{
      -webkit-transition: margin 0.2s ease-out;
      -moz-transition: margin 0.2s ease-out;
      -ms-transition: margin 0.2s ease-out;
      -o-transition: margin 0.2s ease-out;
        transition: margin 0.2s ease-out;
      width: 100%;
      img{
        display: block;
        width: 80px;
        margin: 24px auto;
      }
    }
    .achive_name{
      color: whitesmoke;
      text-align: center;
    }
    .info{
      border-top: 1px solid #888;
      background-color: rgb(38, 43, 52);
      color: whitesmoke;
      bottom: 0px;
      position: absolute;
      width: 100%;
      padding: 8px 0px;
      font-size: 12px;
      .tag{
        font-size: 10px;
      }
    }
    .achive_progress{
      position: absolute;
      height: 4px;
      left: 0px;
      bottom: 0px;
      z-index: 2;
    }
    .achive_progress-wrap{
      position: absolute;
      background-color: rgb(103, 103, 103);
      height: 4px;
      left: 0px;
      bottom: 0px;
      width: 100%;
      z-index: 1;
    }
  }
  @media (max-width: 1200px){
    .achive_badge{
      width: 33.33%;
      &:nth-of-type(4n+2){
        border-right: solid 2px #888;
      }
      &:nth-of-type(3n+2){
        border-right: none;
      }
    }
  }
  @media (max-width: 984px){
    .achive_badge{
      width: 50%;
      &:nth-of-type(3n+2){
        border-right: solid 2px #888;
      }
      &:nth-of-type(2n+2){
        border-right: none;
      }
    }
  }
  @media (max-width: 784px){
    .achive_badge{
      width: 100%;
      border-right: none;
      border-bottom: none;
    }
  }
}
#achivementPanel{
  -webkit-transition: -webkit-transform 0.5s ease-out;
  -moz-transition: -moz-transform 0.5s ease-out;
  -ms-transition: -ms-transform 0.5s ease-out;
  -o-transition: -o-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
  position: fixed;
  right: 0;
  left: 460px;
  top: 42px;
  bottom: 0;
  padding-left: 240px;
  background-color: #39414D;
  z-index: 50;
  border-right: 2px solid #888;
  .optionbar{
    position: absolute;
    background-color: rgb(38, 43, 52);
    height: 100%;
    color: #888;
    border-right: 2px solid #888;
    width: 48px;
    left: 0px;
    .close_btn{
      font-size: 24px;
      padding: 11px;
      cursor: pointer;
    }
    .option_title{
      -webkit-font-smoothing: antialiased;
      width: 224px;
      margin: 0px 24px;
      font-size: 24px;
      color: whitesmoke;
      -webkit-transform: rotate(90deg);
         -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
           -o-transform: rotate(90deg);
              transform: rotate(90deg);
      -webkit-transform-origin: 1px;
         -moz-transform-origin: 1px;
          -ms-transform-origin: 1px;
           -o-transform-origin: 1px;
              transform-origin: 1px;
      span{
        font-size: 19px;
        color: #888;
      }
    }
  }
  .main{
    position: absolute;
    right: 0;
    left: 48px;
    bottom: 0;
    top: 0;
    .main_title{
      -webkit-font-smoothing: antialiased;
      background-color: rgb(57, 65, 77);
      color: whitesmoke;
      position: relative;
      text-align: center;
      padding: 8px;
      font-size: 18px;
      .sub{
        color: #ddd;
        font-size: 16px;
      }
      .achive_progress{
        position: absolute;
        height: 4px;
        left: 0px;
        bottom: 0px;
        z-index: 2;
      }
      .achive_progress-wrap{
        position: absolute;
        background-color: rgb(103, 103, 103);
        height: 4px;
        left: 0px;
        bottom: 0px;
        width: 100%;
        z-index: 1;
      }
    }
    .main_content{
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      .info_panel{
        position: relative;
        vertical-align: top;
        display: inline-block;
        width: 33.3%;
        min-width: 248px;
        border-right: solid 2px #888;
        border-bottom: solid 2px #888;
        height: 264px;
        cursor: pointer;
        &.nbr{
          border-right: none;
        }
        &.graph{
          width: 100%;
          border: none;
          border-bottom: 2px solid #888;
          height: 296px;
          #ProgressGraphPoints{
            .highcharts-container{
              margin: 0 auto;
              rect {
                fill: transparent;
              }
              svg > text:nth-child(16){
                display: none
              }
            }
          }
        }
        .info_title{
          border-bottom: 2px solid #888;
          background-color: rgb(38, 43, 52);
          color: whitesmoke;
          text-align: center;
          padding: 6px;
          -webkit-font-smoothing: antialiased;
        }
        .info_content{
          color: whitesmoke;
          -webkit-font-smoothing: antialiased;
          position: relative;
          height: 100%;
          top: -34px;
          padding: 8px;
          padding-top: 42px;
        }
        .info_content.type-pict{
          padding: 0px;
          padding-top: 0px;
          .percent{
            font-size: 30px;
            position: absolute;
            top: 40px;
            color: whitesmoke;
            text-align: center;
            width: 100%;
          }
          .img_box.type-2:before{
            background-image: url("../img/pictgrams-02.png");
          }
          .img_box.type-2:after{
            background-image: url("../img/pictgrams-colored-02.png");
          }
          .img_box.type-1:before{
            background-image: url("../img/pictgrams-01.png");
          }
          .img_box.type-1:after{
            background-image: url("../img/pictgrams-colored-01.png");
          }
          .img_box{
            height: 96px;
            width: 96px;
            display: block;
            margin: 0 auto;
            position: relative;
            &:before{
              display: block;
              content: "";
              position: absolute;
              right: 0;
              left: 0;
              top: 0;
              bottom: 0;
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
              z-index: 1;
            }
            &:after{
              display: block;
              content: "";
              position: absolute;
              right: 0;
              left: 0;
              top: 0;
              bottom: 0;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: bottom;
              z-index: 2;
              background-clip: padding-box;
            }
          }
          .sum{
            display: block;
            position: absolute;
            bottom: 18px;
            font-size: 12px;
            color: #888;
            width: 100%;
            text-align: center;
            .value{
              font-size: 24px;
              color: whitesmoke;
              span{
                font-size: 16px;
                color: #888;
                text-indent: 6px;
                display: inline-block;
                vertical-align: bottom;
              }
            }
          }
          .diff{
            position: absolute;
            width: 100%;
            bottom: 18px;
            color: #888;
            font-size: 12px;
            .value{
              font-size: 20px;
              color: whitesmoke;
              line-height: 20px;
              padding: 4px;
            }
          }
        }
      }
    }
  }
}
//=======================
//     admin_userList
//=======================
#adminUserList{
  table{
    width: 100%;
    margin-top: 40px;
  }

  table thead{
    border-bottom: solid 3px #ccc;
  }
  table thead tr th{
    border-right: 1px solid #ccc;
    padding-left: 8px;
    font-weight: normal;
    font-size: 13px;
  }
  table thead tr th.name_w{
    width: 20%;
  }
  table thead tr th.number_w{
    width: 10%;
  }
  table thead tr th.university_w{
    width: 25%;
  }
  table thead tr th.mail_w{
    width: 45%;
  }
  table thead tr th.author_w{
    width: 10%;
  }
  table tbody{
    font-size: 12px;
  }
  table tbody tr{
    border-bottom: solid 1px white;
  }
  table tbody tr td{
    padding: 8px;
    position: relative;
  }
  table tbody tr.self .name{
    background-color: rgb(22, 160, 133);
    color: white;
  }
  table tbody tr .name{
    font-weight: bold;
    letter-spacing: 1px;
    background-color: rgba(44, 134, 210, 0.45);
    color: #555;
  }
  table tbody tr:hover .name{
    background-color: rgba(44, 153, 210, 0.45);
    color: whitesmoke;
  }
  table tbody tr:hover .mail,table tbody tr:hover .number,table tbody tr:hover .author, table tbody tr:hover .university{
    background-color: rgba(44, 166, 210, 0.3);
  }


  table tbody:before{
    content: "";
    margin-top: 16px;
    display: block;
    width: 100%;
    background-color: transparent;
  }
  table tr i{
    display: none;
    color: rgb(104, 125, 157);
    position: absolute;
    right: 10px;
    font-size: 18px;
    padding: 7px 0px;
    top: 0px;
  }
  table tr i[data-js="copyMail"]{
    display: block;
  }
  table tr:hover .name i{
    display: block;
    cursor: pointer;
    color: white;
  }
}

//=======================
//     optionBar
//=======================
#adminOptionbar{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  width: 40px;
  background-color: rgb(119, 142, 173);
  z-index: 5;
  .close_btn{
    cursor: pointer;
    position: absolute;
    right: 0px;
    padding: 10px 13px;
    color: white;
  }
}