h1
  | 新規団体追加
  .label.label-default(data-js='markdown') プレビュー
form
  .form-group
    label(for='circle_name') 団体名
    input#circle_name.form-control(type='text', placeholder='応用数学研究部', data-js="CircleName")
    label(for='circle_description') 団体説明を記入
    textarea#circle_description.form-control(placeholder='団体説明を記入', rows='10', data-js="CircleDescription")
    label(for='circle_num') 人数
    input#circle_num.form-control(type='text', placeholder='18', data-js="MemberCount")
    label(for='site_name') ウェブサイト
    input#site_name.form-control(type='text', placeholder='http://unitus-ac.com', data-js="WebAddress")
    label(for='university') 所属大学
    select.form-control(data-js="circleSelect")
      option -
    .form-wrap(data-js="formWrap")
      input#university.form-control(type='text', placeholder='新しい大学名を入力', data-js="BelongedSchool")
    label(for='remarks') 備考
    textarea#remarks.form-control(placeholder='男ばっかりのサークルです。', data-js="Notes")
    label(for='contact') 連絡先
    input#contact.form-control(type='text', placeholder='Tel: 090123456', data-js="Contact")
    label(for='leader') 代表者
    input#leader.form-control(type='text', placeholder='yamada@gmail.com', data-js="LeaderUserName")
    label(for='activityDate') 活動日
    textarea#activityDate.form-control(type='text', placeholder='#土曜日\n#月曜日', rows='4', data-js="ActivityDate")
    .checkbox
      label
        input#isAcceptOutside(type='checkbox', data-js="CanInterColledge")
        |  外部生のサークル加入可否
    .pull-right
      button.btn.btn-primary(type='submit', data-js="createCircle" disabled)
        | 作成する
    .clear
