#adminSidebar.sidebar
  ul.nav.nav-tabs(role='tablist')
    li.active(role='presentation')
      a(href='#adminNewCircle', aria-controls='adminNewCircle', role='tab', data-toggle='tab')
        i.glyphicon.glyphicon-plus
        span.title 新規団体追加
    li(role='presentation')
      a(href='#adminUserList', aria-controls='adminUserList', role='tab', data-toggle='tab')
        i.glyphicon.glyphicon-th-list
        span.title ユーザー一覧
#adminContent.content
  .tab-content
    #adminNewCircle.tab-pane.fade.in.active(role='tabpanel', data-js='adminNewCircle')

    #adminUserList.tab-pane.fade(role='tabpanel')
      h1 ユーザー一覧
      table
        thead
          tr
            th.name_w 名前
            th.author_w 権限
            th.number_w 学年
            th.university_w 所属大学
            th.mail_w メールアドレス
        tbody(data-js='userList')
#adminOptionbar
  .close_btn(data-js='close_admin')
    .glyphicon.glyphicon-remove

