section#main(role='tabpanel')
  section#header(data-js="header")
    h1.text-center(data-js='logoTitle') UNITUS
    .dropdown
      #account(data-js='dropdown', data-toggle="dropdown")
          | Junpei Taneichi
          span.caret
      ul.dropdown-menu(role='menu', aria-labelledby='account')
        // (管理者用ここから)
        li.author.menu 管理者メニュー
        li.item(data-js='open_admin') 管理画面を開く
        li.divider
        // (管理者用ここまで)
        li.author.menu アカウントメニュー
        li.item 設定
        li.divider
        li.item(data-js='logout') ログアウト
        li.divider

  section#body
    section#basicUser(data-js="basic")
      #userSidebar.sidebar
        // Nav tabs
        ul.nav.nav-tabs(role='tablist')
          li.active(role='presentation')
            a(href='#circles', aria-controls='circles', role='tab', data-toggle='tab')
              i.glyphicon.glyphicon-th
              span.title 加盟団体一覧
          li(role='presentation')
            a(href='#mail', aria-controls='mail', role='tab', data-toggle='tab')
              i.glyphicon.glyphicon-envelope
              span.title 部員招待
          li(role='presentation')
            a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab')
              i.glyphicon.glyphicon-user
              span.title プロフィール
      #userContent.content
        .tab-content
          #circleList.tab-pane.fade.in.active(role='tabpanel')
            h1 加盟団体一覧
            table
              thead
                tr
                  th.name_w 名前
                  th.author_w 権限
                  th.number_w 人数
                  th.university_w 大学名
                  th.update_w 更新日
              tbody
                tr.self
                  td.name.name_w
                    | 応用数学研究部
                    a(href='#1')
                      i.glyphicon.glyphicon-edit
                  td.author.author_w 編集者
                  td.number.number_w 28
                  td.university.university_w 東京理科大学
                  td.update.update_w 2014年2月1日
                tr
                  td.name.name_w
                    | EspicaCompute
                    a(href='#1')
                      i.glyphicon.glyphicon-eye-open
                  td.author.author_w 閲覧者
                  td.number.number_w 44
                  td.university.university_w 東京理科大学
                  td.update.update_w 2014年2月1日
                tr
                  td.name.name_w
                    | EspicaCompute
                    a(href='#1')
                      i.glyphicon.glyphicon-eye-open
                  td.author.author_w 閲覧者
                  td.number.number_w 44
                  td.university.university_w 東京理科大学
                  td.update.update_w 2014年2月1日
                tr
                  td.name.name_w
                    | EspicaCompute
                    a(href='#1')
                      i.glyphicon.glyphicon-eye-open
                  td.author.author_w 閲覧者
                  td.number.number_w 44
                  td.university.university_w 東京理科大学
                  td.update.update_w 2014年2月1日

          #mail.tab-pane.fade(role='tabpanel')
            h1 メンバー招待
            p このページでは、自分が権限を与えられているサークルないし部活のメンバーを招待することが出来ます。
            form
              .form-group
                label(for='circle_name') 団体名
                input#circle_name.form-control(type='text', placeholder='応用数学研究部')
                label(for='circle_description') 団体説明
                textarea#circle_description.form-control(placeholder='団体説明を記入', rows='10')
                label(for='circle_num') 人数
                input#circle_num.form-control(type='text', placeholder='18')
                label(for='site_name') ウェブサイト
                input#site_name.form-control(type='text', placeholder='http://unitus-ac.com')
                label(for='university') 所属大学
                input#university.form-control(type='text', placeholder='東京理科大学')
                label(for='remarks') 備考
                textarea#remarks.form-control(placeholder='インカレサークルです。')
                label(for='contact') 連絡先
                input#contact.form-control(type='text', placeholder='Tel: 090123456')
                label(for='leader') 代表者
                input#leader.form-control(type='text', placeholder='@hogehoge')
                .checkbox
                  label
                    input#isAcceptOutside(type='checkbox')
                    |  外部生のサークル加入可否
                .pull-right
                  button.btn.btn-primary(type='submit') 保存する

          #profile.tab-pane.fade(role='tabpanel')
            h1 プロフィール
            .content
              .row
                .col-xs-3
                  h1.profile_name 種市 隼兵
                  h2.profile_id @gamerinshaft

    #adminUser.hidden_panel(data-js="admin")
      #adminSidebar.sidebar
        ul.nav.nav-tabs(role='tablist')
          li.active(role='presentation')
            a(href='#adminNewCircle', aria-controls='adminNewCircle', role='tab', data-toggle='tab')
              i.glyphicon.glyphicon-plus
              span.title &#x65B0;&#x898F;&#x56E3;&#x4F53;&#x8FFD;&#x52A0;
          li(role='presentation')
            a(href='#adminUserList', aria-controls='adminUserList', role='tab', data-toggle='tab')
              i.glyphicon.glyphicon-th-list
              span.title &#x30E6;&#x30FC;&#x30B6;&#x30FC;&#x4E00;&#x89A7;
      #adminContent.content
        .tab-content
          #adminNewCircle.tab-pane.fade.in.active(role='tabpanel')
            h1
              | &#x65B0;&#x898F;&#x56E3;&#x4F53;&#x8FFD;&#x52A0;
              .label.label-default(data-js='markdown') &#x30D7;&#x30EC;&#x30D3;&#x30E5;&#x30FC;
            form
              .form-group
                label(for='circle_name') &#x56E3;&#x4F53;&#x540D;
                input#circle_name.form-control(type='text', placeholder='応用数学研究部')
                label(for='circle_description') &#x56E3;&#x4F53;&#x8AAC;&#x660E;
                textarea#circle_description.form-control(placeholder='団体説明を記入', rows='10')
                label(for='circle_num') &#x4EBA;&#x6570;
                input#circle_num.form-control(type='text', placeholder='18')
                label(for='site_name') &#x30A6;&#x30A7;&#x30D6;&#x30B5;&#x30A4;&#x30C8;
                input#site_name.form-control(type='text', placeholder='http://unitus-ac.com')
                label(for='university') &#x6240;&#x5C5E;&#x5927;&#x5B66;
                input#university.form-control(type='text', placeholder='東京理科大学')
                label(for='remarks') &#x5099;&#x8003;
                textarea#remarks.form-control(placeholder='インカレサークルです。')
                label(for='contact') &#x9023;&#x7D61;&#x5148;
                input#contact.form-control(type='text', placeholder='Tel: 090123456')
                label(for='leader') &#x4EE3;&#x8868;&#x8005;
                input#leader.form-control(type='text', placeholder='@hogehoge')
                .checkbox
                  label
                    input#isAcceptOutside(type='checkbox')
                    |  &#x5916;&#x90E8;&#x751F;&#x306E;&#x30B5;&#x30FC;&#x30AF;&#x30EB;&#x52A0;&#x5165;&#x53EF;&#x5426;
                .pull-right
                  button.btn.btn-primary(type='submit') &#x4FDD;&#x5B58;&#x3059;&#x308B;
                .clear

          #adminUserList.tab-pane.fade(role='tabpanel')
            h1 &#x30E6;&#x30FC;&#x30B6;&#x30FC;&#x4E00;&#x89A7;
            table
              thead
                tr
                  th.name_w &#x540D;&#x524D;
                  th.author_w &#x6A29;&#x9650;
                  th.number_w &#x5B66;&#x5E74;
                  th.university_w &#x6240;&#x5C5E;&#x5927;&#x5B66;
                  th.mail_w &#x30E1;&#x30FC;&#x30EB;&#x30A2;&#x30C9;&#x30EC;&#x30B9;
              tbody(data-js='userList')
      #adminOptionbar
        .close_btn(data-js='close_admin')
          .glyphicon.glyphicon-remove

