h1.text-center(data-js='logoTitle') UNITUS
.dropdown
  #account(data-js='dropdown', data-toggle="dropdown", aria-expanded="false")
    = dashboard.get('Name')
    span.caret
  ul.dropdown-menu(role='menu', aria-labelledby='account')
    if dashboard.get('IsAdministrator')
      li.author.menu 管理者メニュー
      li.item(data-js='adminToggle') 管理画面を開く
      li.divider
    // (管理者用ここまで)
    li.author.menu アカウントメニュー
    li.item(data-js="setting") 設定
    li.divider
    li.item(data-js='logout') ログアウト
    li.divider

//- 設定
#settingModal.modal.fade(data-js="settingModal")
  .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4#settingModalLabel.modal-title 設定メニュー
        .modal-body
          div(role='tabpanel')
            ul.nav.nav-tabs(role='tablist')
              li.active(role='presentation')
                a(href='#settingGithub', aria-controls='settingGithub', role='tab', data-toggle='tab') Github連携
              li(role='presentation')
                a(href='#settingDisclosure', aria-controls='settingDisclosure', role='tab', data-toggle='tab') 公開設定
            .tab-content
              #settingGithub.tab-pane.active(role='tabpanel')
                if dashboard.get("GithubAssociation")
                  h1 Github認証済み
                  p
                    | あなたは既にGithub認証を完了しています。
                    | 以下のようなことが可能になりました。
                else
                  h1 Github未認証
                  p
                    | あなたはまだGithub認証をしていません。
                    | Github認証をすると、以下のようなことが出来るようになります。

                ul
                  li プロフィール画像の自動設定
                  li 統計情報の表示
                  li プロジェクトへの自分の関与率の表示
                  li ランキングとやる気の出現
                .pull-right
                  if dashboard.get("GithubAssociation")
                    .btn.btn-success(data-js="authorizeGithub" disabled)
                      | Github認証済み
                  else
                    .btn.btn-success(data-js="authorizeGithub")
                      | Github認証する
                .clear
              #settingDisclosure.tab-pane(role='tabpanel')
                .row(data-js="DisclosureList")
