tr
  h1 a
  = user
  //- td.name.name_w
  //-   = user.get("CircleName")
  //-   i.glyphicon.glyphicon-eye-open
  //- td.author.author_w
  //-   | 閲覧者
  //- td.number.number_w
  //-   = user.get("MemberCount")
  //- td.university.university_w
  //-   = user.get("BelongedUniversity")
  //- td.update.update_w
  //-   = user.get("LastUpdateDate")
