.profilebar
  h1.profile_name
    i.glyphicon.glyphicon-chevron-right
    = user.get("name")
  img(src="#{user.get('avatar')}")

  #accordion.panel-group(role='tablist', aria-multiselectable='true')
    .panel.panel-default
      #profileAccordion.panel-heading(role='tab')
        h4.panel-title
          a(data-toggle='collapse', data-parent='#accordion', href='#profileCollapse', aria-expanded='false', aria-controls='profileCollapse')
            i.glyphicon.glyphicon-chevron-right
            | プロフィール
      #profileCollapse.panel-collapse.collapse(role='tabpanel', aria-labelledby='profileAccordion')
        ul.list-group(role='tablist')
          li.list-group-item
            | Archi
          li.list-group-item
            | hoge
          li.list-group-item
            | hoge
    .panel.panel-default
      #achievementAccordion.panel-heading(role='tab')
        h4.panel-title
          a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#achivementCollapse', aria-expanded='false', aria-controls='achivementCollapse')
            i.glyphicon.glyphicon-chevron-right
            | 実績
      #achivementCollapse.panel-collapse.collapse(role='tabpanel', aria-labelledby='achievementAccordion')
        ul.list-group(role="tablist")
          a(href='#allUserAchivement', aria-controls='allUserAchivement', role='tab', data-toggle='tab')
            li.list-group-item
              | 全て
    .panel.panel-default
      #accountAccordion.panel-heading(role='tab')
        h4.panel-title
          a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#accountCollapse', aria-expanded='false', aria-controls='accountCollapse')
            i.glyphicon.glyphicon-chevron-right
            | 各種アカウント
      #accountCollapse.panel-collapse.collapse(role='tabpanel', aria-labelledby='accountAccordion')
        ul.list-group(role="")
          li.list-group-item
            | hoge
          li.list-group-item
            | hoge
          li.list-group-item
            | hoge
.panels
  #allUserAchivement.panelcontent.tab-pane.fade.in.active(role='tabpanel' data-js='achivementList')
    .row
      .col-xs-12
        .title.text-center
          | 実績一覧
    #achivementPanel.hidden_panel_r(data-js="achivementPanel")
